extends layout

block content
  h1= title
  div(style="margin-left:60px")
    
    
    p Name: #{currentmovie.name}
    br
    p type: #{currentmovie.type}
    br
    p director: #{currentmovie.director}
    br
    p year: #{currentmovie.year}
    br
    p description: #{currentmovie.description}
    br

    p rating: #{currentmovie.rating}
    

  
  